@inherits LayoutComponentBase

<PageTitle>View</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div id="container">
        <div id="topbar">
            <b style="font-size: 1.17rem; font-weight: bolder; color: white">Książka kucharska</b>
        </div>

        <main>
            <div id="nav">
                <NavMenu/>
            </div>

            <div id="content">
                <div id="article">
                    @Body
                </div>
            </div>
        </main>
    </div>
</div>
