@page "/account/{Message:int}"

@if (Message > 0)
{
	<div class="alert alert-success" role="alert">
		Rejestracja konta przebiegła pomyślnie. Zaloguj się na swoje konto.
	</div>
}
else
{
	<p>Nie jesteś zalogowany. Zaloguj się na swoje konto.</p>
}

<MudButton Variant="Variant.Filled" Class="btn1" OnClick="mainLayout.OpenLogin">Zaloguj się</MudButton>

@*@if (!string.IsNullOrEmpty(mainLayout.GetUserName()))
{
	<h3 class="my-4">Your Account</h3>

	<p>@mainLayout.GetUserName()</p>

	<button type="button" class="btn btn-danger" @onclick="mainLayout.Logout">Logout</button>
}
else
{
	<h3 class="my-4">Please Login</h3>

	<button type="button" class="btn btn-success" @onclick="mainLayout.OpenLogin">Login</button>
}*@

<style>
	p {
		margin: 0;
		padding: 0;
		font-weight: bolder;
	}

	.btn1 {
		background: rgba( 22, 166, 185 );
		font-size: 1.17em;
		color: white;
	}

		.btn1:hover {
			background: rgba(227, 225, 222);
		}
</style>

@code {
	[CascadingParameter]
	public MainLayout mainLayout { get; set; }

	[Parameter]
	public int Message { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
}
