@page "/"
@inject NavigationManager NavMan
@inject RecipeService RecServ

<div id="title">
    <h3 style="font-weight: bold">Strona główna</h3>
</div>

@if (recipesList == null)
{
    <h3>Loading...</h3>
}
else
{
    @if(recipesList.Any())
    {
        <div id="recipes">
        @foreach (var recipe in recipesList)
        {
                <div id="recipe" @onclick="() => navigateToRecipe(recipe.RecipeID)">
                    <img src="https://wszystkiegoslodkiego.pl/storage/images/201922/letni-tort-bezowy.webp">
                    <div id="description">
                            <h5 style="font-weight: bold">@recipe.Title</h5>
                            <p>
                                <b>Czas przygotowania: </b>@recipe.PrepareTime<br />
                                <b>Porcje: </b>@recipe.Portions<br />
                                <b>Trudność: </b>@recipe.Difficulty/5<br />
                            </p>
                    </div>
                        
                </div>
        }
		</div>
    }
}

<style>
    #title {
        width: auto;
        margin: 10px;
        padding: 5px;
    }

    #recipe:hover {
        background: rgba( 22, 166, 185 );
        cursor: pointer;
        border-radius: 8px;
    }
    
    #recipe {
        display: flex;
        flex-direction: row;
    }

    img {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 8px;
        height: 100px;
        float: left;
    }

    #description {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        height: 100px;
        float: left;
    }
</style>

@code{
    private List<RecipeDto>? recipesList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        recipesList = await RecServ.GetRecipeListAsync();
    }

    void navigateToRecipe(int id)
    {
        NavMan.NavigateTo("/recipe/" + id);
    }
}


