@page "/mybook"
@inject NavigationManager NavMan
@inject RecipeService RecServ

<h3>Moje przepisy</h3>

@if (recList is null)
{
    <p>
        Loading...
    </p>
}
else
{
    @foreach (var item in recList)
    {
        <p>
            <b>Przepis: </b><span>@item.Title</span><br />
            <b>Porcje: </b><span>@item.Portions</span><br />
        </p>
    }
}

<p>
    <button class="btn btn-primary" @onclick="onClick">Nowy przepis</button>
</p>


@code {
    private List<Recipe>? recList;


    protected override async Task OnInitializedAsync()
    {
        recList = await RecServ.GetRecipeListAsync();
    }

    List<Recipe> recipes = new();

    void onClick() => NavMan.NavigateTo("/newrecipe");
}
