@page "/newrecipe"
@inject IRecipeService RecServ

<style>
    body{
    background-image: url(C:\Users\Zosia\Source\Repos\Incognito543210\MVC-RestAPI-Blazor\View\wwwroot\css\images\img1.png)
    }
</style>

<div class="page-background-class">
    <EditForm Model="@recipe">
    <p><InputText id="title" placeholder="Nazwa" @bind-Value=recipe.Title /></p>
    <p><InputTextArea id="content" placeholder="Opis przygotowania" @bind-Value=recipe.Content /></p>
    <p><InputNumber id="portions" placeholder="Liczba porcji" @bind-Value=recipe.Portions /></p>
    <p><InputDate id="time" placeholder="Czas przygotowania" @bind-Value=recipe.PrepareTime /></p>
    <p><InputSelect id="difficulty" placeholder="Trudność" @bind-Value=recipe.Difficulty>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
    </InputSelect>
    </p>
    
</EditForm>
<p><button class="btn btn-primary" @onclick="AddRecipe">Dodaj przepis</button></p>
</div>
<img src="/css/images/img1.png" width="500px"/>

@code {
    Recipe recipe = new();

    async Task AddRecipe()
    {
        await RecServ.AddRecipeAsync(recipe);
        recipe = new();
    }
}
