@page "/newrecipe"
@inject RecipeService RecServ
@inject NavigationManager NavMan
<h3 style="font-weight: bold">Utwórz przepis</h3>

@if(tags is not null)
{
    <RecipeForm Recipe="recipe" OnValidSubmit="AddRecipe" Tags="tags"/>
}

@code {
    RecipeAdapter recipe = new();
    List<TagDto>? tags;

    async Task AddRecipe()
    {
        await RecServ.AddRecipeAsync(recipe);
        //ingredients
        await RecServ.AddIngredientsToRecipeAsync(recipe.Ingridients, recipe.Title);
        //tags
        await RecServ.AddTagsToRecipeAsync(recipe.Tags, recipe.Title);
        NavMan.NavigateTo("/mybook");
    }

    protected override async Task OnInitializedAsync()
    {
        tags = await RecServ.GetTagListAsync();
    }
}
