@page "/newrecipe"
@inject RecipeService RecServ

@*<style>
 .mydiv{
        background-color: white;
    }
</style>*@

<div >
    <EditForm Model="@recipe">
        <p><MudTextField @bind-Value="recipe.Title" Label="Nazwa"></MudTextField></p>
        <p><MudTextField T="string" Label="Opis przygotowania" Text="@recipe.Content" Lines="10" /></p>
        <MudStack Row="true">
            <MudNumericField @bind-Value="recipe.Portions" Label="Liczba porcji" Step="1" />
            <MudTimePicker Label="Czas przygotowania" @bind-Time="time" />
            <MudSelect T="int" Label="Stopień trudności" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="int" Value="1" />
                <MudSelectItem T="int" Value="2" />
                <MudSelectItem T="int" Value="3" />
                <MudSelectItem T="int" Value="4" />
                <MudSelectItem T="int" Value="5" />
            </MudSelect>
        </MudStack>
    
</EditForm><br />
    <p><MudButton Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" OnClick="AddRecipe" EndIcon="@Icons.Material.Filled.ArrowForward" FullWidth="true">Dodaj</MudButton></p>
</div>

@code {
    Recipe recipe = new();

    TimeSpan? time = new TimeSpan(00, 00, 00);


    async Task AddRecipe()
    {
        await RecServ.AddRecipeAsync(recipe);
        recipe = new();
    }
}
